@model ProjetoBackend.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-1 col-lg-2"> </div>
        <div class="col-12 col-md">
            <p class="titulo-criar fw-bold">Clientes</p>
            <hr class="border border-dark border-1">
            <h4 class="cadastro fw-medium ">Excluir Cliente</h4>

            <div class="row">
                <div class="titulodelete fw-bold col-2 mb-3">@Html.DisplayNameFor(model => model.Nome):</div>
                <div class="conteudodelete col">@Html.DisplayFor(model => model.Nome)</div>
            </div>
            <div class="row">
                <div class="titulodelete fw-bold col-sm-2 mb-3">@Html.DisplayNameFor(model => model.Email):</div>
                <div class="conteudodelete col">@Model.Email</div>
            </div>
            <div class="row">
                <div class="titulodelete fw-bold col-sm-2 mb-3">@Html.DisplayNameFor(model => model.CnpjCpf):</div>
                <div class="conteudodelete col">@Html.DisplayFor(model => model.CnpjCpf)</div>
            </div>
            <div class="row">
                <div class="titulodelete fw-bold col-sm-2 mb-3">@Html.DisplayNameFor(model => model.Celular):</div>
                <div class="conteudodelete col">@Html.DisplayFor(model => model.Celular)</div>
            </div>
            <div class="row">
                <div class="titulodelete fw-bold col-sm-2 mb-3">@Html.DisplayNameFor(model => model.DataNascimento):</div>
                <div class="conteudodelete col">@Html.DisplayFor(model => model.DataNascimento)</div>
            </div>
            <div class="row">
                <div class="titulodelete fw-bold col-sm-2 mb-5">@Html.DisplayNameFor(model => model.CadastroAtivo):</div>
                <div class="conteudodelete col">@Html.DisplayFor(model => model.CadastroAtivo)</div>
            </div>



            <input type="hidden" asp-for="ClienteId" class="form-control" />



            <div class="row crow">
                <div class="col col-md-6 mt-4 form-group">
                    <form asp-action="Delete">
                        <input type="submit" value="Excluir" class="botao-criar fw-semibold" />
                    </form>
                </div>

                <div class="col col-md-6 mt-4 d-flex justify-content-end">
                    <a class="botao-cancelar m-0 p-0 fw-semibold" asp-action="Index">Cancelar</a>
                </div>
            </div>


        </div>
        <div class="col-12 col-md-1 col-lg-2"> </div>

    </div>
</div>
