@model ProjetoBackend.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<div class="container">

    <p class="titulo-criar fw-bold">Clientes</p>

    <hr class="border border-dark border-1">

    <h4 class="cadastro fw-medium ">Excluir Cliente</h4>

    <div>
        <dl class="row">
            <dt class="titulodelete">@Html.DisplayNameFor(model => model.Nome):</dt>
            <dd class="conteudodelete">@Html.DisplayFor(model => model.Nome)</dd>
            <dt class="titulodelete">@Html.DisplayNameFor(model => model.Email):</dt>
            <dd class="conteudodelete">@Model.Email</dd>
            <dt class="titulodelete">@Html.DisplayNameFor(model => model.CnpjCpf):</dt>
            <dd class="conteudodelete">@Html.DisplayFor(model => model.CnpjCpf)</dd>
            <dt class="titulodelete">@Html.DisplayNameFor(model => model.Celular):</dt>
            <dd class="conteudodelete">@Html.DisplayFor(model => model.Celular)</dd>
            <dt class="titulodelete">@Html.DisplayNameFor(model => model.DataNascimento):</dt>
            <dd class="conteudodelete">@Html.DisplayFor(model => model.DataNascimento)</dd>
            <dt class="titulodelete">@Html.DisplayNameFor(model => model.DataCadastro):</dt>
            <dd class="conteudodelete">@Html.DisplayFor(model => model.DataCadastro)</dd>
            <dt class="titulodelete">@Html.DisplayNameFor(model => model.CadastroAtivo):</dt>
            <dd class="conteudodelete">@Html.DisplayFor(model => model.CadastroAtivo)</dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ClienteId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>

</div>


