@model ProjetoBackend.Models.ItemCompra

@{
    ViewData["Title"] = "Deletar";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-1 col-lg-2"> </div>
        <div class="col-12 col-md">
            <p class="titulo-criar fw-bold">Itens Compras</p>
            <hr class="border border-dark border-1">
            <h4 class="cadastro fw-medium ">Excluir Compras</h4>

            <div class="row">
                <div class="titulodelete fw-bold col-2 mb-3">@Html.DisplayNameFor(model => model.Compra):</div>
                <div class="conteudodelete col">@Html.DisplayFor(model => model.Compra.CompraId)</div>
            </div>
            <div class="row">
                <div class="titulodelete fw-bold col-sm-2 mb-3">@Html.DisplayNameFor(model => model.Produto):</div>
                <div class="conteudodelete col">@Model.Produto.Nome</div>
            </div>
            <div class="row">
                <div class="titulodelete fw-bold col-sm-2 mb-3">@Html.DisplayNameFor(model => model.Quantidade):</div>
                <div class="conteudodelete col">@Html.DisplayFor(model => model.Quantidade)</div>


                <div class="row crow">
                    <div class="col col-md-6 mt-4 form-group">
                        <form asp-action="Delete">
                            <input type="submit" value="Excluir" class="botao-criar fw-semibold" />
                        </form>
                    </div>

                    <div class="col col-md-6 mt-4 d-flex justify-content-end">
                        <a class="botao-cancelar m-0 p-0 fw-semibold" asp-action="Index">Cancelar</a>
                    </div>
                </div>


            </div>
            <div class="col-12 col-md-1 col-lg-2"> </div>

        </div>
    </div>
